@font-face {
    font-family: 'Nintendo';
    src: url('fonts/Pretendo.ttf') format('woff2');
    font-weight: normal; /* Puedes cambiar a 'bold' si es una fuente negrita */
    font-style: normal; /* Cambia a 'italic' si es cursiva */
}


h1{
    text-align: center;
    font-size: 110px;
}

body{
    background: url('img/5d0a92939cbdd8900cb67179c731f4d0.gif') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Nintendo';
}

input[type="button"]{
    margin: 10px;
    padding: 7px;
    font-family: 'Nintendo';
    background: linear-gradient(to bottom, white, rgb(165, 165, 165));
    color: rgb(228, 0, 0);
    border: none;
    font-size: 23px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

input[type="button"]:hover{
    background: red;
    color: white;
}

label{
    width: 100%;
    margin: 7px 0px 5px 0px;
    text-align: center;
}


#menu-div{
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu-option{
    background: linear-gradient(to bottom, white, rgb(172, 172, 172));
    color: red;
    border-radius: 5px;
    padding: 15px;
    font-size: 25px;
    margin: 15px 0px 15px 0px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
}

.menu-option:hover{
    background: red;
    color: white;
    cursor: pointer;
}

#gloval-forms{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-div{
    display: none; /*Esto cambiara a Flex desde el JS*/
    border: 1px black solid;
    width: 600px;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 29px;
}

#title{
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid 1px rgb(69, 69, 69);
    margin-bottom: 10px;
    font-size: 35px;
    text-align: center;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

 #velMin,#velMax{
    width: 50px;
 }